a {
    text-decoration: none;
    color: #000;
    font-family: arial,sans-serif;
    font-size: 13px;
}
a:hover {
    text-decoration: underline;
    color: #000;
}

#button {
    background-color: #f8f9fa;
    padding: 8px 1px 8px 1px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    cursor: pointer;
}

#button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

body{
    background:  #fff;
}
#header-style {
    display: grid;
    grid-template-columns: 50px 50px auto 50px 50px 50px 50px;
    grid-template-rows: 25%;
    padding-left: 15px;
    align-content: center;
}

#google-apps {
    width: 17px;
    margin-top: -6px;
    border-radius: 70px;
    padding-left: 10px;
}

#main-section {
    /* margin-top: 2%; */
    margin: 40px auto;
}

#profile-image{
    border-radius: 70px;
    width: 32px;
    display: block;
    margin-top: -8px;
}

#search-style {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

#search-bar {
    border-radius: 50px;
    height: 43px;
    width: 575px;
    margin-top: 30px;
    padding: 0px;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid #dadce0;
}

#search-field {
    height: auto;
    width: 475px;
    margin-top: 0px;
    margin-left: 15px;
    padding: 0px;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    border: none;
    position: relative;
    top: -3px;
}

#search-bar:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);    
}


#search-buttons {
    position: relative;
    top: 25px;
    display: grid;
    grid-template-columns: auto 130px 13px 130px auto;
    grid-template-rows: auto;
}

#google-logo-flex {
    display: flex;
    justify-content: center;
}

#google-logo {
    position: relative;
    padding-top: 109px;
    height: 92px;
    margin: 0 auto;
}

#magnifying-glass {
    height: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

#microphone {
    height: 20px;
    margin-top: 12px;
    margin-right: 25px;
    float: right;
}
@media screen and (min-width: 951px) {
#footer-style {
    display: block;
    background: #f2f2f2;
    line-height: 40px;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #dadce0;
    min-width: 400px;
    margin-bottom: 1px;
}

footer a {
    color: #70757a;
    padding-left: 27px;
    margin: 0!important;
    font-size: 14px;
}

#first-set {
    float: left;
    text-align: left;
}

#second-set {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    position: relative;
    left: 20%;
}

#third-set {
    float: right;
    text-align: right;
    margin-right: 30px;
    min-width: 30%;
}
}

@media screen and (max-width: 950px) {
#footer-style {
    display: block;
    background: #f2f2f2;
    line-height: 40px;
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #dadce0;
    min-width: 400px;
    margin-bottom: 1px;
}

footer a {
    color: #70757a;
    padding-left: 27px;
    margin: 0!important;
    font-size: 14px;
}

#first-set {
   position: relative;
   text-align: center;
}

#second-set {
    position: relative;
    text-align: center;
}

#third-set {
   position: relative;
   text-align: center;
}
}

@media screen and (max-height: 550px) {
    #main-section {
        margin: -70px auto;
    }
}